
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: rgb(177, 174, 174);
}

section{
    background-color: white;
    border: solid 2px black;
    padding: 10px;
    border-radius: 15px;
}
.hide {
    display: none;
}

.show {
    display: block;
}
h1{
    text-align: center;
}

p{
    padding: 0 10%;
}

#startButton{
    display: block;
    margin: 0 auto;
}

.choice{
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    margin: 5px auto;
    padding: 5px;
}

.container {
    text-align: center;
}

.q-btn {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
}